* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-size: 16px;
    background: linear-gradient(90deg, #000, #0c002b);
    /*background: linear-gradient(90deg, #000, #0c002b);
    /* Fundo escuro */
    flex-direction: column;
}

header {
    background: linear-gradient(90deg, #000, #0c002b);
    text-align: center;
    padding: 20px;
}

.game-title {
    color: white;
    font-family: 'Arial', sans-serif;
    /* Altere para uma fonte que você prefira, talvez algo mais futurístico ou espacial */
    font-size: 36px;
    /* Tamanho da fonte */
    text-shadow: 2px 2px 4px rgba(179, 150, 166, 0.9);
    /* Adiciona uma sombra ao texto para efeito espacial */
    letter-spacing: 2px;
    /* Espaçamento entre as letras */
    margin-bottom: 10px;
    /
}

.memory-game {
    width: 100%;
    max-width: 720px;
    margin: auto;
    display: grid; /* Utilizando grid para facilitar a criação de uma grade */
    grid-template-columns: repeat(6, 1fr); /* 6 colunas de tamanho igual */
    gap: 10px; /* Espaço entre as cartas */
    perspective: 1000px;
}

.memory-card {
    width: calc(100% - 10px);
    /*width: 100%;*/
    aspect-ratio: 2/3; /* Proporção de aspecto 2:3 para manter a forma das cartas */
    margin: 10px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .0);
    border-radius: 10px;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg); /*rotate foi utlizado p/ a carta rodar*/
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 1px; /* Ajustei o padding para garantir que não haja problemas de renderização com .5px */
    position: absolute;
    border-radius: 10px; /* Ajustei o raio da borda para combinar com o raio da borda do .memory-card */
    background-color: rgb(239, 245, 245);
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

/* Estilos para tablets em orientação retrato ou pequenos desktops */
@media (max-width: 768px) {
    body {
      font-size: 14px;
    }

    .memory-card {
        width: calc(50% - 20px);
        aspect-ratio: 2/3;
    }
}

/* Estilos para celulares */
@media (max-width: 480px) {
    .memory-card {
        width: calc(16.666% - 20px);
        aspect-ratio: 2/3;
    }
}
